@model Identity2.ViewModels.ManageUsers.UsersToCameraGroupViewModel

@{
    ViewBag.Title = "AddSelectedUsersToGroup";
}

@if (Model != null)
{
    using (Html.BeginForm("AddSelectedUsersToGroup", "ManageUsers", FormMethod.Post))
    {
        if (Model.SelectedUsers != null)
        {
            foreach (var user in Model.SelectedUsers)
            {
                @Html.CheckBox("user-checkbox", true)
                @Html.HiddenFor(x => user.Id)
                <label>@user.Email</label>
            }
        }
        if (Model.CameraGroups != null)
        {
            foreach (var cameraGroup in Model.CameraGroups)
            {
                @Html.CheckBox("camera-group-checkbox", false)
                @Html.LabelFor(x => cameraGroup)
                @Html.HiddenFor(x => cameraGroup)
                <br />
            }
        }

        <br />
        <input type="submit" value="Submit" />
    }
}


<div>Nothing in the model..... :(</div>


