@model ConnectedCamerasWeb.ViewModels.ManageUsers.UsersToCameraGroupViewModel

@{
    ViewBag.Title = "AddSelectedUsersToGroup";
}

<div class="background-add-to-group">
    @if (Model != null)
    {
        using (Html.BeginForm("AddSelectedUsersToGroup", "ManageUsers", FormMethod.Post, new { @class = "groups-panel" }))
        {
            
            <div class="login-panel-title">Modify User Groups</div>
            <div class="row20px">
                <div class="cell50percent" style="text-align:center;">Users</div>
                <div class="cell50percent" style="text-align:center;">Camera groups</div>
            </div>
            <div class="row200px">
                <div class="cell50percent">
                    <div class="panel-listbox">
                        @if (Model.SelectedUsers != null)
                        {
                            foreach (var user in Model.SelectedUsers)
                            {
                                <div class="row10px"></div>
                                <div class="row20px">
                                    <div class="cell10px"></div>
                                    <div class="cell20px">
                                        @Html.CheckBox("user-checkbox", true, new { @class = "center-vertical", @style = "margin:0px;" })
                                        @Html.HiddenFor(x => user.Id)
                                    </div>
                                    <div class="cellauto" style="text-align:left;">@user.Email</div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="cell50percent">
                    <div class="panel-listbox">
                        @if (Model.CameraGroups != null)
                        {
                            foreach (var cameraGroup in Model.CameraGroups)
                            {
                                <div class="row10px"></div>
                                <div class="row20px">
                                    <div class="cell10px"></div>
                                    <div class="cell20px">
                                        @Html.CheckBox("camera-group-checkbox", false, new { @class = "center-vertical", @style = "margin:0px;" })
                                        @Html.HiddenFor(x => cameraGroup)
                                    </div>
                                    <div class="cellauto" style="text-align:left">@cameraGroup</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row center">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <div class="row10px"></div>
        }
    }
</div>