@using ConnectedCamerasWeb.Models
@using ConnectedCamerasWeb.ViewModels.Account
@model ConnectedCamerasWeb.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<img src="~/Content/Images/ConnectedCameras.png" style="position:absolute; height:90%; width:auto; min-height:600px; left:15%;" />
<div class="login-panel">
    <div class="login-panel-title">Connected Cameras</div>
    <div class="login-label">Log in</div>
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "cell25percent input-label" })
                <div class="cell50percent">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row10px"></div>
            <div class="row">
                @Html.LabelFor(m => m.Password, new { @class = "cell25percent input-label" })
                <div class="cell50percent">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row10px"></div>
            <div class="row">
                <div class="cell25percent">&nbsp</div>
                <div class="cell50percent">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="row10px"></div>
            <div class="row">
                <div class="cell25percent">&nbsp</div>
                <div class="cell50percent center">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
    <hr />
    <div class="row" style="bottom:10px;">
        <div class="login-label">No account?</div>
        <p class="center">@Html.ActionLink("Register as a new user", "Register")</p>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}