@using MvcCheckBoxList.Model
@model ConnectedCamerasWeb.ViewModels.Cameras.CameraPickerViewModel

@{
    ViewBag.Title = "CameraPicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="background-camera-pick">
@using (Html.BeginForm("Pick", "Cameras", FormMethod.Post, new { @class="pick-panel" }))
{
        <div class="login-panel-title">Pick Cameras</div>
        
        <div class="panel-listbox">
        @for (int i = 0; i < Model.AvailableCameras.Count; i++)
        {
            <div class="row100px" style="margin-top:10px; margin-bottom:10px;">
                <div class="cell10percent">
                    <input name="selectedCameraIds" type="checkbox" id="@Model.AvailableCameras[i].CameraName" value="@Model.AvailableCameras[i].Id" />
                </div>
                <div class="cell30percent" style="background-color:black;">

                </div>
                <div class="cellauto" style="text-align:left;">
                    <div class="row">@Model.AvailableCameras[i].CameraName</div>
                    <div class="row">@Model.AvailableCameras[i].Description</div>
                    <div class="row">
                        <div class="cell50px">URL:</div>
                        <div class="cellauto">@Model.AvailableCameras[i].CameraUrl</div>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="row10px"></div>
        <div class="row center">
            <input type="submit" value="Continue" class="btn btn-default" />
        </div>
}
</div>
    <script type="text/javascript" src="~/Scripts/cameraPicking.js"></script>




