@model IEnumerable<ConnectedCamerasWeb.Models.Camera>

@{
    ViewBag.Title = "CameraPicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Picker/css")
<script src="~/Content/js/jquery.js"></script>
<div class="background-camera-pick">
@using (Html.BeginForm("LiveFeed", "Cameras", FormMethod.Post, new { @class = "pick-panel" }))
{
    <div class="login-panel-title">Pick Cameras</div>
        
    <div class="row80percent">
        <div class="panel-listbox">
            @if (!Model.Any())
            {
                <div class="no-camera-groups">You do not belong to any camera groups. Please contact your administrator in order to be added to a specific camera group.</div>
            }
            else
            {
                foreach (var camera in Model)
                {
                    <div class="row100px" style="margin-top:10px; margin-bottom:10px;">
                        <div class="cell10percent">
                            <input name="selectedCameraIds" type="checkbox" id="@camera.CameraName" value="@camera.Id" class="center-vertical" />
                        </div>
                        @*<div class="cell30percent" style="background-color:black;">

                        </div>*@
                        <div class="cellauto" style="text-align:left;">
                            <div class="row camera-title">@camera.CameraName</div>
                            <div class="row">
                                <div class="cell20px">&nbsp;</div>
                                <div class="cellauto camera-description">@camera.Description</div>
                            </div>
                            <div class="row">
                                <div class="cell camera-attribute">URL:</div>
                                <div class="cell10px">&nbsp;</div>
                                <div class="cellauto" style="font-style:italic;">@camera.CameraUrl</div>
                            </div>
                            <div class="row">
                                <div class="cell camera-attribute">Group:</div>
                                <div class="cell10px">&nbsp;</div>
                                <div class="cellauto" style="font-style:italic;">@camera.CameraGroup</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
    </div>
    <div class="row10px"></div>
    <div class="row center">
        <div class="cell50percent">
            <input name="allowOtherViewers" type="checkbox" checked="checked" value="true" class="center-vertical allow-others" />
            <label>Allow Other Viewers</label>
        </div>
        <div class="cell50percent">
            <input type="submit" value="Continue" class="btn btn-default" />
        </div>
    </div>
}
</div>
    <script type="text/javascript" src="~/Scripts/cameraPicking.js"></script>




